<div class="container">
	<h1><%= @nyhet.title %></h1>
    <i><b><%= @nyhet.serie.name %></b> | Publisert <%= l(@nyhet.created_at,:format => '%d. %B %Y')	 %></i><br /><br />
	<div style="float:left;padding:10px"><%= image_tag @nyhet.photo.url(:large) %></div>
	<%= @nyhet.content.html_safe %>
	
</div>

