<div class="container">
	<div style="float:left"><h1><%= @serie.name %></h1></div>
	<div style="float:right"><%= image_tag @serie.photo.url(:medium) %></div>
	<div class="clearfix"></div>
	<div class="seriedesc"><%= @serie.desc %></div>
	
	
</div>
<br /><br />
<div class="container">
	<table class="table">
	<% @konserter.each do |konsert| %>
	<tr>
 	    <td><%= konsert.serie.name %> <br /><%= l(konsert.show_date,:format => '%d. %B') %></td>
 	    <td style="min-width:100px"><%= link_to image_tag(konsert.photo.url(:thumb)),'/konserter/'+konsert.id.to_s %></td>
		<td><%= link_to konsert.title, '/konserter/'+konsert.id.to_s %></td>
 		<td><%= konsert.price %></b></td>
 		<td><%= konsert.show_time %></b></td>
	</tr>
	<% end %>	
	</table>
</div>

