<div class="container">
	<div class="span9">
		<table style="text-align:center;vertical-align:top">
			<tbody>
				<tr>
					<td class="span4" style="vertical-align:top;width:300px">
						<h4><b><%= link_to @first_concert.serie.name, '/konsertserier/'+@first_concert.serie.id.to_s %></b></h4><h3><%= link_to truncate(@first_concert.title, length: 25), '/konserter/'+@first_concert.id.to_s %></h3>
					</td>
					<td class="span1"></td>								
					<td class="span4" style="vertical-align:top;width:300px">
						<h4><b><%= link_to @second_concert.serie.name, '/konsertserier/'+ @second_concert.serie.id.to_s %></b></h4><h3><%= link_to truncate(@second_concert.title, length: 25), '/konserter/'+@second_concert.id.to_s %></h3>
					</td>
				</tr>
				<tr>
					<td  style="vertical-align:top;background-color:#111111">
						<%= link_to image_tag(@first_concert.photo.url(:medium)), '/konserter/' + @first_concert.id.to_s %>
					</td>
					<td class="span1"></td>
					<td style="vertical-align:top;background-color:#111111">
						<%= link_to image_tag(@second_concert.photo.url(:medium)), '/konserter/'+ @second_concert.id.to_s %>
					</td>
				</tr>
				<tr>
					<td style="vertical-align:top">
					<%= l(@first_concert.show_date, :format => '%d. %b') %> | <%=  @first_concert.venue.name %> 
					</td>
					<td class="span1"></td>
					
					<td style="vertical-align:top">
					<%= l(@second_concert.show_date, :format => '%d. %b') %> | <%=  @second_concert.venue.name %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="span9">
		<table class="table">
			<thead>
				<tr>
					<th><h3>Nyheter</h3></th>
				</tr>
			</thead>
		<% @news.take(4).each do |nyhet| %>
			<tbody>
				<tr>
					<td class="span3"><%= nyhet.serie.name %> </td><td> <%= link_to nyhet.title, '/nyheter/'+nyhet.id.to_s %></td>
				</tr>
			</tbody>
		<% end %>
		</table>
	</div>

	<div class="span9">
	 	Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
	</div>
	<div class="span9">
		<br /><br />
	<% @series.each do |serie| %>
		<% unless serie.concerts.where("show_date >= ?", Time.now).empty? %>
		<div class="span4" style="min-height:230px; padding:auto">
			<div style="min-height:100px"><%= link_to image_tag(serie.photo.url(:medium)), '/konsertserier/'+serie.id %><br /></div>
				<table class="table table-condensed">
					<% serie.concerts.where("show_date > ?", Time.now).order('show_date ASC').take(4).each do |concert| %>
						<tr><td><%= link_to truncate(concert.title, :length => 30), '/konserter/'+concert.id.to_s %></td><td><%= l(concert.show_date, :format => '%d. %b') %></td></tr>
					<% end %>
				</table>
			</div>
	    <% end %>
    <% end %>
		</div>
	
</div>
