<div class="container">
	<% unless @concerts.first.nil? %>
	
	<div class="span7" style="margin-left:75px;">
		<%= render 'carousel', :object => @concerts %>
	</div>
	<% end %>



	<div class="span9">
		<br /><br />
	<% @series.each do |serie| %>
		<% unless serie.concerts.where("show_date >= ?", Time.now).empty? %>
		<div class="span4" style="min-height:230px; padding:auto">
			<%= link_to image_tag(serie.photo.url(:medium)), '/konsertserier/'+serie.id.to_s %><br /><br />
				<table class="table table-condensed" >
					<% serie.concerts.where("show_date > ?", Time.now).order('show_date ASC').take(4).each do |concert| %>
						<tr><td><%= link_to truncate(concert.title, :length => 30), '/konserter/'+concert.id.to_s %></td><td><%= l(concert.show_date, :format => '%d. %b') %></td></tr>
					<% end %>
				</table>
			</div>
	  	<% end %>
    	<% end %>
	</div>
		<div class="span8" style="margin-left:75px">
			
			<h3>Siste nytt fra Konsertforeninga</h3>
		
			<table class="table">
			<% @news.take(4).each do |nyhet| %>
				<tbody>
					<tr>
						<td><%= nyhet.serie.name %> </td><td> <%= link_to nyhet.title, '/nyheter/'+nyhet.id.to_s %></td>
					</tr>
				</tbody>
			<% end %>
			</table>
		</div>
</div>
