<div class="container">

	<% unless @concerts.first.nil? %>
	
	<div class="span7" style="margin-left:75px;">
		<%= render 'carousel', :object => @concerts %>
	</div>
	<% end %>




	<div class="span9">
		<br /><br />
	<% @series.each do |serie| %>
		<% unless serie.concerts.where("show_date >= ?", Time.now).empty? %>
		<div class="span4" style="min-height:230px; padding:auto">
			<%= link_to image_tag(serie.photo.url(:medium)), '/konsertserier/'+serie.id.to_s %><br /><br />
				<table class="table table-condensed" >
					<% serie.concerts.where("show_date >= ?", Time.now).order('show_date ASC').take(4).each do |concert| %>
						<tr><td><%= link_to truncate(concert.title, :length => 30), '/konserter/'+concert.id.to_s %></td><td><%= l(concert.show_date, :format => '%d. %b') %></td></tr>
					<% end %>
				</table>
			</div>
	  	<% end %>
    	<% end %>
	</div>

			<div class="span10">
		<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff;margin-left: 0px;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup" class="span10">
<form action="http://konsertforeninga.us6.list-manage1.com/subscribe/post?u=f6e56758bcf921e7745b845cb&amp;id=18437c7e94" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Vil du motta vårt nyhetsbrev</label>
	<div style="float:left;"><input type="email" value="" style="width:300px;height:14px;" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-post" required></div>
	<div style="float:left;"><input style="width:150px" type="submit" value="Meld deg på" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>


<!--End mc_embed_signup-->
	<div class="span8" style="margin-left:40px">
		<hr style="color: #000; background: #000; width: 100%; height: 5px;">
	</div>
	<div class="span8" style="margin-left:40px">
			
			<div class="span8" style="margin:0px auto"><h2>Siste nytt fra Konsertforeninga</h2></div>
		
			<table class="table">
			<% @news.take(4).each do |nyhet| %>
				<tbody>
					<tr>
						<td><%= nyhet.serie.name %> </td><td> <%= link_to nyhet.title, '/nyheter/'+nyhet.id.to_s %></td>
					</tr>
				</tbody>
			<% end %>
			</table>
		</div>

</div>
