<div class="container">
	<h1>Tidligere konserter</h1><br />
	<table class="table">
	<% @konserter.each do |konsert| %>
	<tr>
 	    <td><%= konsert.serie.name %> <br /><%= l(konsert.show_date,:format => '%d. %B') %></td>
 	    <td><%= link_to image_tag(konsert.photo.url(:thumb)),'/konserter/'+konsert.id.to_s %></td>
		<td><%= link_to konsert.title, '/konserter/'+konsert.id.to_s %></td>
 		<td><%= konsert.price %></b></td>
 		<td><%= konsert.show_time %></b></td>
 		<td> <%= link_to @konsert.venue.name, @konsert.venue.link %></td>
	</tr>
	<% end %>	
	</table>
	
</div>

