<div class="container">
		<table class="table">
			<tr>
				<td><h2><%= @konsert.show_date.to_s(:short) %> | <%= @konsert.serie.name %></h2><h1><%= @konsert.title %></h1></td>
			</tr><tr>
 	    		<td><%= image_tag @konsert.photo.url(:large) %></td>
			</tr><tr>
 				<td><b><%= @konsert.show_time %> | <%= @konsert.price %> kr </b> 
			</tr><tr>
				<td><%= @konsert.desc.html_safe %></td>
			</tr>
		</table>
</div>

