<!DOCTYPE html>
<html>
<head>
  <title>Konsertforeninga</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/kf-icon.gif"/>
  <script type="text/javascript">
	 $(window).load(function(){
		 // invoke the carousel
		 alert("test");
		$('.carousel').carousel({
		  interval: 9000,
		  pause: "hover"
		});
	 });	

</script>
</head>
<body>
<div class="innhold">
	<div class="logo2">
			<a href="/"><img class="image" src="/assets/konsertforeninga-logo.jpg" /></a><br />
			 
	</div>
	<div class="navbar navbar-static-top">
	  <div class="navbar-inner" >
	    <div class="container" >
	      <a class="brand" href="/konserter">Konserter</a>
	      <a class="brand" href="/nyheter">Nyheter</a>
	      <a class="brand" href="/konsertserier">Konsertserier</a>
	      <a class="brand" href="/medlem">Medlemskap</a>
	      <a class="brand" href="/om">Om Konsertforeninga</a>
		  	<a class="brand" href="/english">English</a>
	    </div>
	  </div>
	</div>
	

<p class="notice"><%= notice %></p>
<p class=""><%= alert %></p><br />
<%= yield %>
</div>
<footer style="width:100%;text-align:center;color:white;background-color:#000000">Konsertforeninga © 2012 <a href="mailto:booking@konsertforeninga.no" style="color:white">Kontakt oss</a> 
</footer>


</body>
</html>
