<!DOCTYPE html>
<html>
<head>
  <title>Konsertforeninga</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36636091-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div class="innhold">
	<div class="logo2">
			<a href="/"><img class="image" src="/assets/konsertforeninga-logo.jpg" /></a>
	</div>
	<div class="navbar navbar-static-top">
	  <div class="navbar-inner" >
	    <div class="container" >
	      <a class="brand" href="/konserter">Konserter</a>
	      <a class="brand" href="/nyheter">Nyheter</a>
	      <a class="brand" href="/konsertserier">Konsertserier</a>
	      <a class="brand" href="/medlem">Medlemskap</a>
	      <a class="brand" href="/om">Om Konsertforeninga</a>
		  	<a class="brand" href="/english">English</a>
	    </div>
	  </div>
	</div>
	

<p class="notice"><%= notice %></p>
<p class=""><%= alert %></p><br />
<%= yield %>
</div>
<footer class="footer" style="background-color:#000000">Konsertforeningen Blå © 2012  
</footer>
</body>
</html>
